<!DOCTYPE html>
<html>
<head>
    <title>Fritter by Kimberli</title>
    <script src="/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/js/vendor/handlebars.runtime.min.js"></script>
    <script src="/js/vendor/uuid.js"></script>
    <script src="/js/vendor/moment.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/users.js"></script>
    <script src="/js/freet.js"></script>
    <script src="/js/helpers.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="page">
        <div id="header"></div>
        <div id="popup"></div>
        <div id="cover"></div>
        <div id="container"></div>
    </div>
</body>
</html>