<div id="navlinks">
  <div id="home-link"><a href="/">Home</a></div>
  <div id="my-fritters-link"><a href="/myposts">My Fritters</a></div>
  <div id="my-feed-link"><a href="/myfeed">My Feed</a></div>
  <div id="my-favs-link"><a href="/myfavs">My Favs</a></div>
  <div id="logout-link"><a href="/users/logout">Logout</a></div>
 </div>