$primary: #490A3D;
$secondary: #BD1550;
$error: #E97F02;
$headertext: #F8CA00;
$buttontext: white;

/* Structure */

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
a,
a:visited {
    color: $primary;
    text-decoration: none;
}
a:hover {
    color: $secondary;
}
#container {
    background-color: $secondary;
}

#home {
    position: relative;
    top: -8px;
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px 60px;
    border: 8px double $secondary;
    min-height: calc(100vh - 250px);
}

/* Header */
#header {
    position: relative;
    text-align: center;
    height: 200px;
    background-color: $primary;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 12px black;
    z-index: 50;
}
#title {
    font-style: italic;
    font-family: "Lobster Two", sans-serif;
    font-size: 400%;
    margin: 0;
    padding-top: 40px;
    color: $headertext;
}
#user-info {
    display: inline-block;
    color: $headertext;
}
.header-button {
    display: inline-block;
}
#logout-button {
    text-decoration: none;
    font-style: italic;
    font-size: 125%;
    color: $headertext;
}

/* Login popup*/
#popup {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    top: 20%;
    left: 0;
    right: 0;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #555;
    border-radius: 12px;
    box-shadow: 0 0 20px black;
    display: none;
    z-index: 99;
}
#cover {
    position: absolute;
    top: 0;
    background-color: black;
    min-height: 100vmax;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    display: none;
    z-index: 80;
}
.form-ele {
    display: block;
    margin: 10px auto;
}
#close-popup {
    float: right;
}

/* Freet form */
#new-freet-box {
    margin: 15px 0;
    text-align: center;
}
#freet-input {
    border: 1px solid $secondary;
}
.search-row-button {
    position: relative;
    top: -2px;
}

/* Freets */
#freet-container {
}
.freet-box {
    padding: 10px;
    margin: 4px;
}
.freet-box {
    border: 1px solid $primary;
    overflow-x: scroll;
}
.freet-time {
    font-size: 75%;
}
.freet-user {
    cursor: pointer;
}
.freet-user,
.freet-text {
    display: inline-block;
}
.delete-button,
.rf-button {
    float: right;
}

/* Forms */
.no-border {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.error {
    color: $error;
    text-align: center;
}
.input {
    font-size: 150%;
    font-family: "Lato", sans-serif;
}
.button {
    border: none;
    height: 33px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: $secondary;
    font-family: "Lato", sans-serif;
    font-size: 125%;
    color: $buttontext;
}
.button:hover {
    background-color: darken($secondary, 10%);
}
.button-sm {
    height: 25px;
    font-size: 100%;
}
.button-light {
    background-color: transparent;
    border: 2px solid $headertext;
    color: $headertext;
}