<button id="close-popup" class="no-border">X</button>
{{#if register}}
<form id="register-form">
    <h3>Register for a Fritter account.</h3>
    <input name="username" type="text" class="form-ele input" placeholder="username">
    <input name="password" type="password" class="form-ele input" placeholder="password">
    <button id="register-button" class="form-ele button">Register</button>
</form>
{{else}}
<form id="login-form">
    <h3>Log in to Fritter.</h3>
    <input name="username" type="text" class="form-ele input" placeholder="username">
    <input name="password" type="password" class="form-ele input" placeholder="password">
    <button id="login-button" class="form-ele button">Login</button>
</form>
{{/if}}
<div id="login-error" class="error"></div>